<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FrozenFantazies</title>
</head>
<body>
    <%- include("../Navbar/navbar.ejs") %>
    <%- include("../Products/productsDisplay.ejs") %>
    <%- include("../Footer/footer.ejs") %>
</body>
</html>