@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Comfortaa:wght@600;700&family=Concert+One&family=Just+Another+Hand&family=PT+Sans:ital,wght@0,700;1,400&family=Rajdhani:wght@500;600&family=Six+Caps&display=swap');

* {
  font-family: "PT Sans";
}

#welcome {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    width: 100%;
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
    margin-left: 5rem;
    font-size: 2rem;
    color: rgb(81,190,230);
}

#house-icon {
    position: absolute;
    left: -2.7rem;
    top: 0.4rem;
    cursor: pointer;
    font-size: 1.55rem;
    color: rgb(242,132,189);
}

#house-icon:hover {
    font-size: 1.65rem;
    left: -2.72rem;
    top: 0.28rem;
    color: rgb(81,190,230);
}

#logout-icon {
    padding: 0;
    font-size: 1.55rem;
    color: rgb(242,132,189);
}

#logout-icon:hover {
    font-size: 1.65rem;
    cursor: pointer;
    color: rgb(81,190,230);
}

#dashboard-icon {
    padding: 0;
    font-size: 1.55rem;
    color: rgb(242,132,189);
}

#dashboard-icon:hover {
    font-size: 1.65rem;
    cursor: pointer;
    color: rgb(81,190,230);
}

#icons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 7.5rem;
    height: 100%;
    margin-right: 5.5rem;
}


