<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login Page</title>
    <link rel="stylesheet" type="text/css" href="../Login-Register/login.styling.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
</head>
<body>
    <div id="container" class="row d-flex justify-content-center align-items-center">
        <div class="card">
            <i id="house-icon" class="bi bi-house-door"></i>
            <div id="card-body" class="card-body d-flex flex-column justify-content-center align-items-center" style="margin-left: 2rem;">
                <h5 id="login-title" class="card-title text-center">
                    Log In To Your Account
                </h5>
                <form>
                    <div id="form-field">
                        <label for="email" class="form-label">
                            Email:
                        </label>
                        <input type="email" name="email" id="input" class="form-control">
                        <div id="invalid-feedback" class="text-danger">

                        </div>
                    </div>

                    <div id="form-field">
                        <label for="password" class="form-label">
                            Password:
                        </label>
                        <div class="d-flex justify-content-center align-items-center">
                            <input type="password" name="password-input" id="password-input" class="form-control">
                            <i id="eye-icon" class="bi bi-eye-fill"></i>
                        </div>
                        <div id="invalid-feedback" class="text-danger">

                        </div>
                    </div>

                    <div id="login-container">
                        <button class="btn btn-primary" id="login-button" type="button">
                            Login
                        </button>
                        <div id="invalid-feedback" class="text-danger">

                        </div>
                    </div>

                    <p id="register-here" class="text-center">
                        Dont have an account? 
                        <a href="/register">
                            Register here
                        </a>
                    </p>
                </form>
            </div>
        </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.7.0.min.js" integrity="sha256-2Pmvv0kuTBOenSvLm6bvfBSSHrUJ+3A7x6P5Ebd07/g=" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bcryptjs@2.4.3/dist/bcrypt.min.js"></script>
    <script>
        $(document).ready(() => {
            const eye_icon = $("#eye-icon");
            const house_icon = $("#house-icon");
            const email_input = $("#input[name='email']");
            const password_input = $("#password-input");
            const login_button = $("#login-button");

            const changeIcon = (input,icon) => {
                input.attr("type") === "password" 
                ? (input.attr("type","input"), icon.removeClass().addClass("bi bi-eye-slash-fill")) 
                : (input.attr("type","password"), icon.removeClass().addClass("bi bi-eye-fill"));
            }
            
            eye_icon.on("click", () => changeIcon(password_input,eye_icon));
            
            house_icon.on("click",() => {
                window.location.href = '/';
            })

            const showError = (element, error_message) => {
                element.addClass("is-invalid");
                const error_div = element.closest("div").siblings("#invalid-feedback").length === 0
                ? element.siblings("#invalid-feedback")
                : element.closest("div").siblings("#invalid-feedback");
                error_div.text(error_message);
            };
        
            const hideError = (element) => {
                element.removeClass("is-invalid");
                const error_div = element.closest("div").siblings("#invalid-feedback").length === 0
                ? element.siblings("#invalid-feedback")
                : element.closest("div").siblings("#invalid-feedback");
                error_div.text("");
            };

            const validateUser = async () => {
                const email = email_input.val();
                try {
                    const user = await $.ajax({
                        url: `/users/${email}`,
                        type: 'GET',
                    });
                    if (user) {
                        const form_data = {
                            username: user.username,
                            email: email_input.val(),
                            password: password_input.val()
                        };

                        const response = await $.ajax({
                            url: '/login',
                            type: 'POST',
                            dataType: 'json',
                            contentType: 'application/json',
                            data: JSON.stringify(form_data)
                        });

                        if (response) {
                            return true; 
                        } else {
                            return false;
                        }
                    } else {
                        console.log("User retrieval failed");
                        return false
                    }
                } 
                catch (error) {
                    console.log("AJAX request error",error);
                    return false; 
                }
            }

            login_button.on("click", async () => {
                if (await validateUser()) {
                    if($("#invalid-feedback").text().length > 0) {
                        hideError(login_button);
                    }
                   
                    window.location.href = "/";
                } else {
                    showError(login_button, "Incorrect email or password");
                }
            });
        });
    </script>
</body>
</html>