#container {
    background-color: rgb(92, 124, 194);
}

div.card {
    box-shadow: 0 0 0 0.07rem rgba(0, 0, 0, 0.1); 
    width: 32.5rem;
    height: 40.5rem;
}

.card-body {
    height: 42rem;
}

#register-title {
    margin-top: 0.25rem;
    margin-bottom: 1rem;
}

#form-field {
    height: 5rem;
    margin-bottom: 1.4rem;
}

#input, button#login-button, #generate-password, #login-here {
    width: 24rem;
    margin: 0;
}

input.form-check-input {
    border-width: 0.1rem;
}

#eye-icon {
    cursor: pointer;
}

#generate-password-button {
    margin-top: 0.5rem;
    margin-bottom: 1.9rem;
}

#register-button {
    width: 24rem;
}


#password-input {
    width: 24rem;
    margin-right: 1.25rem;
}

#login-here {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.295rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
}