@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Comfortaa:wght@600;700&family=Concert+One&family=Just+Another+Hand&family=PT+Sans:ital,wght@0,700;1,400&family=Rajdhani:wght@500;600&family=Six+Caps&display=swap');

* {
    font-family: "PT Sans";
}

html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
}

.a {
    margin-top: 1%;
    font-size: 2.5rem;
    font: bolder;
    width: fit-content;
    padding: 0 auto;
}

h1 {
    width: fit-content;
    margin: 0 auto;
}

.bi {
    cursor: default;
    font-size: 2rem;
    color: orange;
}

.cat {
    width: 50%;
    margin: 3% 25%;
    margin-bottom: 0;
}