@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Comfortaa:wght@600;700&family=Concert+One&family=Just+Another+Hand&family=PT+Sans:ital,wght@0,700;1,400&family=Rajdhani:wght@500;600&family=Six+Caps&display=swap');

* {
  font-family: "PT Sans";
}

body {
  position: relative;
}

.medium-margin-right {
  margin-right: 4rem;
}

.medium-margin-left {
  margin-left: 4rem;
}

.small-margin-right
{
  margin-right: 0.5rem;
}

#product-image {
  max-width: 100%;
  height: 7rem;
}
  
#container {
  width: 100%;
  column-count: auto;
  column-gap: 0.5em;
}
  
#locked-div {
  top: 8rem;
}

#card-container {
  margin: 1rem;
  margin-right: 0;
  height: 15rem;
  width: 18rem;
  cursor: pointer;
}

.card-price {
  font-weight: bold;
}

.text-ellipsis {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

#left-align
{
  margin-left: 0.5rem;
}

#filter-dropdown {
  width: 13rem;
}

.quantity {
  width: 3rem;
}

.additions-div {
  margin-bottom: 0.3rem;
}

.total-price {
  width: 18rem;
  float: left;
  font-weight: bold;
}

.modal-description {
  margin-top: 1rem;
  width: 100%;
  overflow-wrap: break-word;
}

.modal-img {
  width: 100%;
  height: 20rem;
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 9999; 
}

.added-to-cart-message {
  z-index: 10000;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  padding: 1rem;
  border-radius: 1rem;
}