@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Comfortaa:wght@600;700&family=Concert+One&family=Just+Another+Hand&family=PT+Sans:ital,wght@0,700;1,400&family=Rajdhani:wght@500;600&family=Six+Caps&display=swap');

* {
  font-family: "PT Sans";
}

.product-container {
  display: flex;
  gap: 3rem;
}

.product-image {
  height: 31rem;
  min-width: 37rem;
  width: 37rem;
}

.product-description {
  max-width: 55em;
  white-space: pre-line;
  word-wrap: break-word;
  overflow-wrap: break-word;
}
#add-button {
  height: 3rem;
  width:  8rem;
  font-size: 1.2rem;
}

.container {
  margin-left: 20rem;
}

.add-container {
  display: flex;
  align-items: flex-end;
}

#quantityInput {
  width: 4rem;
  height: 3rem;
}

.product-details {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-size: 1.2rem;
  width: 100%;
}

.text-wrap {
  white-space: normal;
  word-wrap: break-word;
  overflow-wrap: break-word;
}

.button-and-input {
  width: 15rem;
  display: flex;
  align-items: flex-end;
  flex-direction: row;
  margin-right: 2rem;
}

#total-price {
  margin-bottom: 0.5rem;
}

#add-button {
  margin-right: 0.3rem;
}

.added-to-cart-message {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  padding: 1rem;
  border-radius: 1rem;
}