<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" type="text/css" href="../Partials/Footer/footer.styling.css">
        <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet">
    </head>

    <body>
        <footer class="footer bg-light d-flex align-items-center text-white">
            <div class="d-flex align-items-center" style="color: rgba(0, 0, 0, 0.463);">
                © 2023 Copyright: 
                <a href="http://localhost:3000" style="color: rgba(0, 0, 0, 0.463);">FrozenFantasies.com</a>
            </div>

            <div class="">
              <section class="links-box d-flex align-items-center justify-content-center">
                <i class="footer-btn bi bi-facebook h1 d-flex" style="color: #3b5998;"></i>
                
                <i class="footer-btn bi bi-twitter h5 d-flex align-items-center justify-content-center" style="padding:0.625rem; background-color: #55acee;"></i>

                <i class="footer-btn bi bi-google h1 d-flex" style="color: #dd4b39;"></i>
                
                <i class="footer-btn bi bi-instagram h1 d-flex" style="color: #ac2bac;"></i>
                  
                <i class="footer-btn bi bi-linkedin h1 d-flex" style="color: #0082ca;"></i>
                
                <i class="footer-btn bi bi-github h1 d-flex" style="color: #333333;"></i>
              </section>
            </div>
          </footer>
    </body>
</html>