<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" type="text/css" href="../Partials/Footer/footer.styling.css">
        <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet">
    </head>

    <body>
        <footer class="footer bg-light d-flex justify-content-center align-items-center text-white">
            <section class="links-box d-flex align-items-center justify-content-center">
                <a href="https://www.facebook.com/profile.php?id=61550556243559" target="_blank" class="footer-btn bi bi-facebook h1 d-flex" style="color: #3b5998;"></a>
        
                <a href="https://twitter.com/FrozenFantasi" target="_blank" class="footer-btn twitter">
                    <img class="d-flex align-items-center justify-content-center" src="../Assets/logo-white.png" style="width: 1.25rem; height: 1.25rem;">
                </a>
        
                <a href="https://www.instagram.com/frozen_fantasies1/" target="_blank" class="footer-btn bi bi-instagram h1 d-flex" style="color: #ac2bac;"></a>
        
                <a href="https://github.com/Itay-Manevych/Ice-Cream-Web-Store/" target="blank" class="footer-btn bi bi-github h1 d-flex" style="color: #333333;"></a>
            </section>
        
            <div class="copy d-flex align-items-center justify-content-center">
                <a style="width: 8.5rem;"> © 2023 Copyright: </a>
                <a href="/" target="_blank" style="color: rgba(0, 0, 0, 0.463);"> FrozenFantasies </a>
            </div>
        </footer>
    </body>
</html>