<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="../../Partials/Main-Page/mainPage.styling.css">
    <title>FrozenFantazies</title>
</head>
<body>
    <%- include("../Navbar/navbar.ejs") %>
    <%- include("../../Carousel/carousel.ejs") %>
    <div id="margin">
        <%- include("../Products/productsDisplay.ejs") %>
    </div>
    <%- include("../Footer/footer.ejs") %>
    
</body>
</html>