.carousel-inner img {
    height: 40rem;
    width: 100%;
}

#canvas {
    height: 40rem;
    width: 100%;
}

#canvas-r {
    height: 40rem;
    width: 100%;
    transform: rotate(180deg);
}

.button {
    z-index: 999; 
    position: absolute;
}