.body{
    margin: 0rem;
}
.navbar{
    justify-content: center;
    flex-direction: row;
    display: flex;
    background-color:dodgerblue;
    height: 3.3rem;
}
.nav_item {
    background-color: #4970e5;
    color: white;
    margin: 0.2rem 0.4rem;
    padding: 0.7rem 1rem;
    text-align: center;
    font-size: x-large;
    border: none;
    border-radius: 1rem;
}
.nav_item:hover{
    background-color: dodgerblue;
}
#search_input{
    border-radius: 1rem;
    background-color: rgb(149, 200, 250);
    color: whitesmoke;
    text-align: start;
    width: 30rem;
    padding: 0.4rem 0.7rem;
    margin: 0.4rem 0rem;
    margin-left: 7.3rem;
}
#search_input:focus,#search_input:hover{
    background-color: gainsboro;
    color: dodgerblue;
    outline: none;
}
#search_btn{
    background-color: rgb(149, 200, 250);
    background-image: url(SearchIcon2.jpg);
    border-radius: 50%;
    background-size: 97%;
    padding:0rem;
    width: 2.9rem;
    height:2.9rem;
    margin-right: 3rem;
    margin-top: 0.2rem;
    
}
#search_btn:hover{
    background-color: dodgerblue;
}

