.body {
    min-height: 100vh;
    margin: 0rem;
}
i {
    cursor: pointer;
}
button{
    background-color: transparent;
}

nav.navbar {
    display: flex; 
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 8rem;
}

.nav_item {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: xx-large;
    width: 9rem;
    height: fit-content;
    border: none;
    border-radius: 1.4rem;
    padding: 0;
}

.nav_item:hover {
    text-decoration: underline;
    color: gray;
    cursor: pointer;
}

#logo_btn {
    height: 16rem;
    width: 16rem;
    /* object-fit: contain; */
}

#logo_btn img {
    width: 100%;
    height: 100%;
    /* object-fit: contain; */
}

#about_btn{
    width: 12rem;
}

#search_btn {
    height: 8rem;
}

#search_btn:hover{
    background-size: 52%;
}

#user_btn{
    display: flex;
    height: 8rem;
    justify-content: center;
}

#user_btn:hover{
    background-size: 52%;
}

#cart_btn{
    height: 8rem;
}

#cart_btn:hover{
    background-size: 52%;
}

.us_box{
    gap: 4rem;
    display: flex;
    margin-left: 5rem;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    height: 100%;
}

.user_box{
    display: flex;
    flex-direction: row;
    margin-right: 5rem;
    justify-content: space-around;
    align-items: center;
    height: 8rem;
    gap: 3rem;
}

.search_box{
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    height: 8rem;
    display: none;
    gap: 2rem;
}

.search_item{
    font-size: x-large;
    border: none;
    border-radius: 1.4rem;
    cursor: pointer;
}

.box{
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    height: 8rem;
    display: flex;
    gap: 4rem;
}

#search_exit{
    background-image: url("../Assets/xIcon.png");
    background-size: 70%;
    background-repeat: no-repeat;
    background-position: center;
    width: 4.8rem;
    height: 4.8rem;
}

#search_input {
    border-radius: 2rem;
    color: black;
    text-align: start;
    width: 50rem;
    height: 5rem;
    border: none;
    border-radius: 1.4rem;
    font-size: x-large;
}

#search_input:focus, #search_input:hover{
    cursor: text;
}

#search_box_btn{
    background-image: url("../Assets/SearchIcon2.jpg");
    background-size: 88%;
    background-repeat: no-repeat;
    background-position: center;
    width: 5.4rem;
    height: 5.4rem;
}