<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" type="text/css" href="../Navbar/navbar.styling.css">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
    </head>

    <body class="body">
        <nav class="navbar bg-light align-items-center"> 
            <div class="us-box d-flex align-items-center">
                <img id="logo-btn" class="nav-item" src="../Assets/logo.png" alt="Logo">
                <button id="about-btn" class="nav-item">ABOUT US</button>
                <button id="shop-btn" class="nav-item">SHOP</button>
                <button id="sale-btn" class="nav-item">SALE</button>
            </div>
            <div class="user-box d-flex align-items-center justify-content-center">
                <i id="search-icon" class="bi bi-search h3 d-flex align-items-center justify-content-center"></i>
                <i id="user-icon" class="bi bi-person-square h3 d-flex align-items-center justify-content-center"></i>
                <i id="cart-icon" class="bi bi-cart h3 d-flex align-items-center justify-content-center"></i>
            </div>
        </nav>

        <div id="search-box" class="bg-light">
            <i id="close-search" class="bi bi-x-lg h3 d-flex align-items-center justify-content-center"></i>
            <div class="ui-widget">
                <input id="search-input" placeholder="Search">
                <div id="search-results"></div>
            </div>    
            <i id="search-icon-search-box" class="bi bi-search h3 d-flex align-items-center justify-content-center"></i>
        </div>
          
        <script src="https://code.jquery.com/jquery-3.7.0.js" integrity="sha256-JlqSTELeR4TLqP0OG9dxM7yDPqX1ox/HfgiSLBj8+kM=" crossorigin="anonymous"></script>

        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script> 

        <script src="https://code.jquery.com/ui/1.13.2/jquery-ui.js"></script>

        <script>
            const navbar = $(".navbar")[0];

            const logo_btn = $("#logo-btn")[0];
            const about_btn = $("#about-btn")[0];
            const shop_btn = $("#shop-btn")[0];
            const sale_btn = $("#sale-btn")[0];

            const open_search = $(".bi-search")[0];
            const user_btn = $(".bi-person-square")[0];
            const cart_btn = $(".bi-cart")[0];

            const search_box = $("#search-box")[0];
            const close_search = $("#close-search")[0];
            const search_input = $("#search-input")[0];
            const search_btn = $("#search-icon-search-box")[0];

            function mainPage() {
                window.location.href = "http://localhost:3000";
            }

            function aboutPage() {
                //window.location.href = "http://localhost:3000/about_us";
            }

            function shop() {
                window.location.href = "http://localhost:3000/products";
            }

            function sale() {
            }

            function closeSearch() {
                navbar.style.display = "flex";
                search_box.style.display = "none";
                search_input.value = ""; 
            }

            function openSearch() {
                navbar.style.display = "none";
                search_box.style.display = "flex";
                search_box.style.height = "0";
                search_box.style.justifyContent = "center";
                search_box.style.alignItems = "center";
                
                setTimeout(() => {
                    search_box.style.height = "8rem";
                }, 10)
            
                close_search.onclick = closeSearch;

                function search() {
                }
                
                function clicked(id) {
                    if(id!=-1) {
                    window.location.href = `http://localhost:3000/products/id/${id}`;
                    closeSearch();}
                }

                function itm(value=-1){
                    this.value = value;                    
                };
                
                let items_arr = []

                for(let i = 0; i < 4; i++){
                    items_arr[i]=new itm();

                    //items_arr[i].value.addEventListener('click', ()=> clicked(items_arr[i].id));

                }


                
                search_input.addEventListener('input',() => {
                    let count = 0, max_products = 4;
                    
                    if(search_input.value == '')
                        $('#search-results').hide();

                  $.ajax({
                    url: `/search-products`,
                    method: 'GET',
                    success: function (products) {
                        if(search_input.value != '')
                            $('#search-results').show();

                        $('#search-results').empty();
                        
                        for(let i = 0; i < 4; i++){
                            if(items_arr[i])
                                items_arr[i] = null;
                        }

                        products.forEach(product => {
    if (count < max_products && product.name.toLowerCase().includes(search_input.value.toLowerCase())) {
        let new_item = document.createElement('div'); // Create a new div element
        new_item.innerHTML = `
            <div id="item" class="d-flex align-items-center justify-content-center">
                <div style="width:18.5rem;"><h5 class="card-title text-ellipsis" style="margin-left: 1rem; margin-right: rem;">${product.name}</h5></div>
                <div style="width:10rem; margin-left: 1rem; margin-right: 1rem;" class="d-flex justify-content-center"><h5 class="card-title text-ellipsis">Price: $${product.price}</h5></div>
                <img id="image" src="${product.image}" alt="Product Image" style="width: 4rem; height: 4rem; margin-right: 1rem;">
            </div>`;
        
        new_item.addEventListener('click', () => clicked(product._id));

        items_arr[count] = new itm(new_item);
        $('#search-results').append(new_item); // Append the new_item element, not items_arr[count].value

        count++;
    }
});
                    },

                    error: function (error) {
                      console.error('Error loading products:', error);
                    }

                  });
                })

                search_input.addEventListener("keypress", function (event) {
                    if (event.key === "Enter") 
                        search();
                });


                search_btn.onclick = search;
            }

            function user() {
                window.location.href = "http://localhost:3000/login";
            }

            function cart() {
                //window.location.href = "http://localhost:3000/cart";
            }

            logo_btn.onclick = mainPage;
            about_btn.onclick = aboutPage;
            open_search.onclick = openSearch;
            shop_btn.onclick = shop;
            sale_btn.onclick = sale;
            user_btn.onclick = user;
            cart_btn.onclick = cart;
        </script>
    </body>
</html>