.body {
    user-select: none;
    min-height: 100vh;
    margin: 0rem;
}

i {
    cursor: pointer;
}

button{
    background-color: transparent;
}

nav.navbar {
    display: flex; 
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 7rem;
}

.nav_item {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: xx-large;
    width: 8rem;
    height: fit-content;
    border: none;
    border-radius: 1.4rem;
    padding: 0;
}

.nav_item:hover {
    text-decoration: underline;
    color: gray;
    cursor: pointer;
}

#logo_btn {
    background-position: center;
    height: 6rem;
    width: 8rem;
    border: none;
}

#about_btn {
    width: 12rem;
}

.us_box {
    gap: 4rem;
    margin-left: 5rem;
}

.user_box {
    margin-right: 5.5rem;
    gap: 4rem;
}

.search_box {
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    height: 7rem;
    display: none;
    gap: 2rem;
}

.search_item {
    font-size: x-large;
    border: none;
    border-radius: 1.4rem;
    cursor: pointer;
}

.box {
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    height: 7rem;
    display: flex;
    gap: 3rem;
}

#search_input {
    border-radius: 2rem;
    color: black;
    background-color: white;
    text-align: start;
    width: 50rem;
    height: 4rem;
    border: none;
    padding: 0rem 1rem;
    border-radius: 1.4rem;
    font-size: xx-large;
}

#search_input:focus, #search_input:hover {
    cursor: text;
}

#search_box_btn {
    background-image: url("../Assets/SearchIcon2.jpg");
    background-size: 88%;
    background-repeat: no-repeat;
    background-position: center;
    width: 4rem;
    height: 4rem;
}

#close {
    width: 1.7rem;
    height: 1.7rem;
    background-size: 75%;
}