#graph-header-container {
    text-align: center;
    margin-top: 2rem;
}

#graph-header {
    font-size: 2rem;
    margin-bottom: 0.5rem;
    color: rgb(242,132,189);
}

#graph-header-paragraph {
    margin-bottom: 0.5rem;
    color: rgb(81,190,230);
}

.no-data {
    margin-top: 2rem;
    color: rgb(242,132,189);
}

#product-bar-chart-svg {
    margin-right: 14rem;
}

#sales-heatmap-svg {
    width: 100rem;
    margin-left: 10rem;
}

.tooltip {
    width: 28rem;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 5rem;
}

#sales-heatmap {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 5rem;
}

rect {
    margin-top: 2rem;
}

#heatmap-container {
    margin-top: 4rem;
}
