@font-face {
    font-family: 'Just Another Hand';
    src: url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Comfortaa:wght@600;700&family=Concert+One&family=Just+Another+Hand&family=PT+Sans:ital,wght@0,700;1,400&family=Rajdhani:wght@500;600&family=Six+Caps&display=swap');

}

aside {
    padding-left: 0.5rem;
    float: right;
    box-shadow: inset 5px 0 5px -5px #3987ae;
    font-style: italic;
    color: #29627e;
    flex-direction: column;
    margin-left: 5rem;
}
  
aside > p {
   margin: 0.5rem;
}
  
.title {
    font-size: 4rem;
    height: 6rem;
    margin-left: 6rem;
    margin-top: 1rem;
}

#views {
    display: grid;
    grid-template-columns: 1fr 30rem;
    gap: 5rem;
    margin-bottom: 10rem;
    margin-right: 3rem;
    margin-top: -1rem;
}

#canvas {
    margin-top: -0.5rem;
    margin-left: 0.25rem;
    height: 46rem;
    width: 26.5rem;
    position: absolute;
    z-index: 1;
    border-radius: 0.5rem;
}

video {
    position: absolute;
    z-index: 2;
}

#text {
    display: grid;
    min-width: 20rem;
    row-gap: 1.5rem;
}

.map {
    gap: 2rem;
    margin-bottom: 3rem;
}