@font-face {
    font-family: 'Just Another Hand';
    src: url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Comfortaa:wght@600;700&family=Concert+One&family=Just+Another+Hand&family=PT+Sans:ital,wght@0,700;1,400&family=Rajdhani:wght@500;600&family=Six+Caps&display=swap');

}
aside {
    padding-left: 0.5rem;
    float: right;
    box-shadow: inset 5px 0 5px -5px #29627e;
    font-style: italic;
    color: #29627e;
    flex-direction: column;
    margin-left: 6rem;
}
  
aside > p {
   margin: 0.5rem;
}
  
.title {
    font-size: 4rem;
    height: 6rem;
    margin-left: 10rem;
    margin-top: 1rem;
}

#text {
    display: grid;
    grid-template-columns: 1fr 35rem;
    margin-top: -1rem;
    gap: 5rem;
}

#txt {
    display: grid;
    row-gap: 1.5rem;
}

.image {
    width: 30rem;
    margin-bottom: 1rem;
}

.map {
    gap: 2rem;
    margin-bottom: 2rem;
}