<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" type="text/css" href="../Partials/About-Us/aboutUs.styling.css">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
        <%- include("../Navbar/navbar.ejs") %>
        <title>about us-FrozenFantazies</title>
    </head>
    <body>
        <div class="title d-flex align-items-center h1">About Us</div>
        <div class="d-flex align-items-center" style="margin-top: -1rem;">
            <div class="about d-flex h5">
                Welcome to Frozen Fantasies – Where Imagination Meets Ice Cream!<br>
                We are Eyal, Itay, and Etay, three friends who love making the most delightful ice cream you ever tasted. Our journey began with a simple dream: to create an ice cream haven that captures the essence of childhood wonder and the joy of indulgence.<br>
                
                At Frozen Fantasies, we believe that ice cream is more than just a dessert; it's a canvas for creativity, a medium for telling stories, and a vessel for creating memories. Every scoop we serve is a piece of art, carefully handcrafted with the finest ingredients and lots of love and passion.
            </div>
            <img class="ice-cream" src="../../Assets/making-icecream.png">
        </div>
    </body>
</html>